<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
    <application>
        <service
            android:name=".sensor.video.VideoForegroundService"
            android:exported="false"
            android:foregroundServiceType="camera|microphone"/>
        <service android:name=".sensor.audio.AudioForegroundService"
            android:exported="false"
            android:foregroundServiceType="microphone"/>
    </application>
</manifest>